In [ ]:
csv_file = 'data/WordsByCharacter.csv'
word_char_df = pd.read_csv(csv_file)
word_char_df.head()

In [ ]:
# split chapter column into two columns to clear all numbers so it can readly be used as a join id for our SQl tables.
# copy file so it will not keep splitting and use copy...don't uncommen next two lines, if you have to, then watch 'chapter number' column as it will change.
# if column change, clear all output and run once, then comment the two code lines bellow...

word_char_df['Chapter Number'], word_char_df['Chapter'] = word_char_df['Chapter'].str.split(' ', 1).str
word_final_df = word_char_df.copy()
word_final_df.head()

In [ ]:
word_char = word_char_df.groupby(['Film']).nunique()
word_char.head()

In [ ]:
json_file = 'data/LordOfTheRingsBook.json'
lord_books_df = pd.read_json(json_file)
lord_books_df

In [ ]:
# column 'BookName' was a dictionary with key and values. we only need the values.
# used fuction concat to split the dictionary and then renamed column and re-arrange all columns..

books_final_df = pd.concat([lord_books_df, lord_books_df['BookName'].apply(pd.Series)], axis = 1).drop('BookName', axis = 1)
books_final_df = bdf_final.rename(columns={"Case": "Book", "ChapterName": "Chapter", "ChapterData": "Chapter Data"})
books_final_df = books_final_df[["Book", "Chapter", "Chapter Data"]]
books_final_df.head()

In [ ]:
# added space before capital letter in Book column. there was no space..

books_final_df['Book'] = books_final_df['Book'].str.replace( r"([A-Z])", r" \1").str.strip()
books_final_df.head()

In [ ]:
books_final_df = books_final_df.groupby(['Book']).nunique()
books_final_df.head()

In [ ]:
engine = create_engine("postgresql://postgres:{password}@localhost:5432/EtlProject_db".format(password=password))
conn = engine.connect()

word_final_df.to_sql(name='word_char', con=engine, if_exists='append', index=False)
books_final_df.to_sql(name='books_final', con=engine, if_exists='append', index=False)