In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
#from etl_pass import password

In [2]:
csv_file = 'data/WordsByCharacter.csv'
word_char_df = pd.read_csv(csv_file)
word_char_df.head()

,Film,Chapter,Character,Race,Words
0,The Fellowship Of The Ring,01: Prologue,Bilbo,Hobbit,4
1,The Fellowship Of The Ring,01: Prologue,Elrond,Elf,5
2,The Fellowship Of The Ring,01: Prologue,Galadriel,Elf,460
3,The Fellowship Of The Ring,01: Prologue,Gollum,Gollum,20
4,The Fellowship Of The Ring,02: Concerning Hobbits,Bilbo,Hobbit,214

In [3]:
# split chapter column into two columns to clear all numbers so it can readly be used as a join id for our SQl tables.
# copy file so it will not keep splitting and use copy...don't uncommen next two lines, if you have to, then watch 'chapter number' column as it will change.
# if column change, clear all output and run once, then comment the two code lines bellow...

word_char_df['Chapter_Number'], word_char_df['Chapter'] = word_char_df['Chapter'].str.split(' ', 1).str
word_final_df = word_char_df.copy()
word_final_df.head()

C:\Users\leo_z\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """

,Film,Chapter,Character,Race,Words,Chapter_Number
0,The Fellowship Of The Ring,Prologue,Bilbo,Hobbit,4,01:
1,The Fellowship Of The Ring,Prologue,Elrond,Elf,5,01:
2,The Fellowship Of The Ring,Prologue,Galadriel,Elf,460,01:
3,The Fellowship Of The Ring,Prologue,Gollum,Gollum,20,01:
4,The Fellowship Of The Ring,Concerning Hobbits,Bilbo,Hobbit,214,02:

In [4]:
word_char = word_char_df.groupby(['Film']).nunique()
word_char.head()

                            Chapter  Character  Race  Words  Chapter_Number
Film
The Fellowship Of The Ring       46         36     8     95              46
The Return Of The King           76         43    10     94              76
The Two Towers                   66         40     8     95              66

In [5]:
json_file = 'data/LordOfTheRingsBook.json'
lord_books_df = pd.read_json(json_file)
lord_books_df

,BookName,ChapterName,ChapterData
0,{'Case': 'TheFellowshipOfTheRing'},A Long-expected Party,When Mr. Bilbo Baggins of Bag End announced th...
1,{'Case': 'TheFellowshipOfTheRing'},The Shadow of the Past,The talk did not die down in nine or even nine...
2,{'Case': 'TheFellowshipOfTheRing'},Three is Company,"'You ought to go quietly, and you ought to go ..."
3,{'Case': 'TheFellowshipOfTheRing'},A Short Cut to Mushrooms,In the morning Frodo woke refreshed. He was ly...
4,{'Case': 'TheFellowshipOfTheRing'},A Conspiracy Unmasked,"'Now we had better get home ourselves,' said M..."
...,...,...,...
57,{'Case': 'TheReturnOfTheKing'},The Steward and the King,Over the city of Gondor doubt and great dread ...
58,{'Case': 'TheReturnOfTheKing'},Many Partings,When the days of rejoicing were over at last t...
59,{'Case': 'TheReturnOfTheKing'},Homeward Bound,At last the hobbits had their faces turned tow...
60,{'Case': 'TheReturnOfTheKing'},The Scouring of the Shire,"It was after nightfall when, wet and tired, th..."
61,{'Case': 'TheReturnOfTheKing'},The Grey Havens,The clearing up certainly needed a lot of work...

In [6]:
# column 'BookName' was a dictionary with key and values. we only need the values.
# used fuction concat to split the dictionary and then renamed column and re-arrange all columns..

books_final_df = pd.concat([lord_books_df, lord_books_df['BookName'].apply(pd.Series)], axis = 1).drop('BookName', axis = 1)
books_final_df = books_final_df.rename(columns={"Case": "Book", "ChapterName": "Chapter", "ChapterData": "Chapter_Data"})
books_final_df = books_final_df[["Book", "Chapter", "Chapter_Data"]]
books_final_df.head()

,Book,Chapter,Chapter_Data
0,TheFellowshipOfTheRing,A Long-expected Party,When Mr. Bilbo Baggins of Bag End announced th...
1,TheFellowshipOfTheRing,The Shadow of the Past,The talk did not die down in nine or even nine...
2,TheFellowshipOfTheRing,Three is Company,"'You ought to go quietly, and you ought to go ..."
3,TheFellowshipOfTheRing,A Short Cut to Mushrooms,In the morning Frodo woke refreshed. He was ly...
4,TheFellowshipOfTheRing,A Conspiracy Unmasked,"'Now we had better get home ourselves,' said M..."

In [7]:
# added space before capital letter in Book column. there was no space..

books_final_df['Book'] = books_final_df['Book'].str.replace( r"([A-Z])", r" \1").str.strip()
books_final_df.head()

,Book,Chapter,Chapter_Data
0,The Fellowship Of The Ring,A Long-expected Party,When Mr. Bilbo Baggins of Bag End announced th...
1,The Fellowship Of The Ring,The Shadow of the Past,The talk did not die down in nine or even nine...
2,The Fellowship Of The Ring,Three is Company,"'You ought to go quietly, and you ought to go ..."
3,The Fellowship Of The Ring,A Short Cut to Mushrooms,In the morning Frodo woke refreshed. He was ly...
4,The Fellowship Of The Ring,A Conspiracy Unmasked,"'Now we had better get home ourselves,' said M..."

In [8]:
books_final_df = books_final_df.groupby(['Book']).nunique()
books_final_df.head()

                            Chapter  Chapter_Data
Book
The Fellowship Of The Ring       22            22
The Return Of The King           19            19
The Two Towers                   21            21

In [10]:
engine = create_engine("postgresql://postgres:XXXXXXX@localhost:5432/ETL_ProjectDB")
conn = engine.connect()

word_final_df.to_sql(name='word_char', con=engine, if_exists='append', index=False)
books_final_df.to_sql(name='books', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_word_char"
DETAIL:  Key ("Film")=(The Fellowship Of The Ring) already exists.

[SQL: INSERT INTO word_char ("Film", "Chapter", "Character", "Race", "Words", "Chapter_Number") VALUES (%(Film)s, %(Chapter)s, %(Character)s, %(Race)s, %(Words)s, %(Chapter_Number)s)]
[parameters: ({'Film': 'The Fellowship Of The Ring', 'Chapter': 'Prologue', 'Character': 'Bilbo', 'Race': 'Hobbit', 'Words': 4, 'Chapter_Number': '01:'}, {'Film': 'The Fellowship Of The Ring', 'Chapter': 'Prologue', 'Character': 'Elrond', 'Race': 'Elf', 'Words': 5, 'Chapter_Number': '01:'}, {'Film': 'The Fellowship Of The Ring', 'Chapter': 'Prologue', 'Character': 'Galadriel', 'Race': 'Elf', 'Words': 460, 'Chapter_Number': '01:'}, {'Film': 'The Fellowship Of The Ring', 'Chapter': 'Prologue', 'Character': 'Gollum', 'Race': 'Gollum', 'Words': 20, 'Chapter_Number': '01:'}, {'Film': 'The Fellowship Of The Ring', 'Chapter': 'Concerning Hobbits', 'Character': 'Bilbo', 'Race': 'Hobbit', 'Words': 214, 'Chapter_Number': '02:'}, {'Film': 'The Fellowship Of The Ring', 'Chapter': 'The Shire', 'Character': 'Bilbo', 'Race': 'Hobbit', 'Words': 70, 'Chapter_Number': '03:'}, {'Film': 'The Fellowship Of The Ring', 'Chapter': 'The Shire', 'Character': 'Frodo', 'Race': 'Hobbit', 'Words': 128, 'Chapter_Number': '03:'}, {'Film': 'The Fellowship Of The Ring', 'Chapter': 'The Shire', 'Character': 'Gandalf', 'Race': 'Ainur', 'Words': 197, 'Chapter_Number': '03:'}  ... displaying 10 of 731 total bound parameter sets ...  {'Film': 'The Return Of The King', 'Chapter': 'The Grey Havens', 'Character': 'Gandalf', 'Race': 'Ainur', 'Words': 42, 'Chapter_Number': '76:'}, {'Film': 'The Return Of The King', 'Chapter': 'The Grey Havens', 'Character': 'Sam', 'Race': 'Hobbit', 'Words': 14, 'Chapter_Number': '76:'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [13]:
import pandas as pd
pd.read_sql_query('select * from movies', conn)

,Name,RuntimeInMinutes,BudgetInMillions,BoxOfficeRevenueInMillions,AcademyAwardNominations,AcademyAwardWins,RottenTomatoesScore
0,The Lord Of The Rings Series,558,$281.00,"$2,917.00",30,17,94
1,The Fellowship Of The Ring,178,$93.00,$871.50,13,4,91
2,The Two Towers,179,$94.00,$926.00,6,2,96
3,The Return Of The King,201,$94.00,"$1,120.00",11,11,95