In [2]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from etl_pass import password

In [3]:
csv_file = 'data/WordsByCharacter.csv'
word_char_df = pd.read_csv(csv_file)
word_char_df.head()

,Film,Chapter,Character,Race,Words
0,The Fellowship Of The Ring,01: Prologue,Bilbo,Hobbit,4
1,The Fellowship Of The Ring,01: Prologue,Elrond,Elf,5
2,The Fellowship Of The Ring,01: Prologue,Galadriel,Elf,460
3,The Fellowship Of The Ring,01: Prologue,Gollum,Gollum,20
4,The Fellowship Of The Ring,02: Concerning Hobbits,Bilbo,Hobbit,214

In [65]:
# split chapter column into two columns to clear all numbers so it can readly be used as a join id for our SQl tables.
word_char_df['Chapter Number'], word_char_df['Chapter'] = word_char_df['Chapter'].str.split(' ', 1).str
word_char_df.head()

,Film,Chapter,Character,Race,Words,Chapter Number
0,The Fellowship Of The Ring,Prologue,Bilbo,Hobbit,4,01:
1,The Fellowship Of The Ring,Prologue,Elrond,Elf,5,01:
2,The Fellowship Of The Ring,Prologue,Galadriel,Elf,460,01:
3,The Fellowship Of The Ring,Prologue,Gollum,Gollum,20,01:
4,The Fellowship Of The Ring,Concerning Hobbits,Bilbo,Hobbit,214,02:

In [71]:
word_char = word_char_df.groupby(['Film']).sum()
word_char.head()

                            Words
Film
The Fellowship Of The Ring  11225
The Return Of The King       9575
The Two Towers              11169

In [67]:
json_file = 'data/LordOfTheRingsBook.json'
lord_books_df = pd.read_json(json_file)
lord_books_df.tail()

,BookName,ChapterName,ChapterData
57,{'Case': 'TheReturnOfTheKing'},The Steward and the King,Over the city of Gondor doubt and great dread ...
58,{'Case': 'TheReturnOfTheKing'},Many Partings,When the days of rejoicing were over at last t...
59,{'Case': 'TheReturnOfTheKing'},Homeward Bound,At last the hobbits had their faces turned tow...
60,{'Case': 'TheReturnOfTheKing'},The Scouring of the Shire,"It was after nightfall when, wet and tired, th..."
61,{'Case': 'TheReturnOfTheKing'},The Grey Havens,The clearing up certainly needed a lot of work...

In [ ]:
engine = create_engine("postgresql://postgres:{password}@localhost:5432/customer_db".format(password=password))
conn = engine.connect()

new_customer_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)