In [16]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from etl_pass import password

In [17]:
csv_file = 'data/WordsByCharacter.csv'
word_char_df = pd.read_csv(csv_file)
word_char_df.head()

,Film,Chapter,Character,Race,Words
0,The Fellowship Of The Ring,01: Prologue,Bilbo,Hobbit,4
1,The Fellowship Of The Ring,01: Prologue,Elrond,Elf,5
2,The Fellowship Of The Ring,01: Prologue,Galadriel,Elf,460
3,The Fellowship Of The Ring,01: Prologue,Gollum,Gollum,20
4,The Fellowship Of The Ring,02: Concerning Hobbits,Bilbo,Hobbit,214

In [18]:
# split chapter column into two columns to clear all numbers so it can readly be used as a join id for our SQl tables.
# copy file so it will not keep splitting and use copy...don't uncommen next two lines, if you have to, then watch 'chapter number' column as it will change.
# if column change, clear all output and run once, then comment the two code lines bellow...

word_char_df['ChapterNumber'], word_char_df['Chapter'] = word_char_df['Chapter'].str.split(' ', 1).str
word_final_df = word_char_df.copy()
word_final_df.head()

C:\Users\leo_z\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """

,Film,Chapter,Character,Race,Words,ChapterNumber
0,The Fellowship Of The Ring,Prologue,Bilbo,Hobbit,4,01:
1,The Fellowship Of The Ring,Prologue,Elrond,Elf,5,01:
2,The Fellowship Of The Ring,Prologue,Galadriel,Elf,460,01:
3,The Fellowship Of The Ring,Prologue,Gollum,Gollum,20,01:
4,The Fellowship Of The Ring,Concerning Hobbits,Bilbo,Hobbit,214,02:

In [20]:
film_df=word_final_df[["Film"]]
film_df=film_df.groupby(["Film"]).count()
film_df.head()

Empty DataFrame
Columns: []
Index: [The Fellowship Of The Ring, The Return Of The King, The Two Towers]

In [21]:
film_character_df=word_final_df[["Character", "Film"]]
film_character_df

     Character                        Film
0        Bilbo  The Fellowship Of The Ring
1       Elrond  The Fellowship Of The Ring
2    Galadriel  The Fellowship Of The Ring
3       Gollum  The Fellowship Of The Ring
4        Bilbo  The Fellowship Of The Ring
..         ...                         ...
726     Elrond      The Return Of The King
727      Frodo      The Return Of The King
728  Galadriel      The Return Of The King
729    Gandalf      The Return Of The King
730        Sam      The Return Of The King

[731 rows x 2 columns]

In [24]:
film_character_df = film_character_df.groupby(['Character', 'Film']).nunique()
film_character_df.head(40)

ValueError: No objects to concatenate

In [ ]:
film_chapter_df=word_final_df[["Chapter"]]
film_chapter_df

In [ ]:
dialogue_df=word_final_df[["Words"]]
dialogue_df

In [ ]:
word_char = word_char_df.groupby(['Film']).nunique()
word_char.head()

In [ ]:
json_file = 'data/LordOfTheRingsBook.json'
lord_books_df = pd.read_json(json_file)
lord_books_df

In [ ]:
# column 'BookName' was a dictionary with key and values. we only need the values.
# used fuction concat to split the dictionary and then renamed column and re-arrange all columns..

books_final_df = pd.concat([lord_books_df, lord_books_df['BookName'].apply(pd.Series)], axis = 1).drop('BookName', axis = 1)
books_final_df = books_final_df.rename(columns={"Case": "Book", "ChapterName": "Chapter", "ChapterData": "Chapter_Data"})
books_final_df = books_final_df[["Book", "Chapter", "Chapter_Data"]]
books_final_df.head()

In [ ]:
# added space before capital letter in Book column. there was no space..

books_final_df['Book'] = books_final_df['Book'].str.replace( r"([A-Z])", r" \1").str.strip()
books_final_df.head()

In [ ]:
books_final_df = books_final_df.groupby(['Book']).nunique()
books_final_df.head()

In [ ]:
engine = create_engine("postgresql://postgres:{password}@localhost:5432/ETL_ProjectDB".format(password=password))
conn = engine.connect()

word_final_df.to_sql(name='Word', con=engine, if_exists='append', index=False)
books_final_df.to_sql(name='Books', con=engine, if_exists='append', index=False)

In [ ]:
import pandas as pd
pd.read_sql_query('select * from Movies', conn)