In [304]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from etl_pass import password
import re

In [ ]:
csv_file = 'data/WordsByCharacter.csv'
word_char_df = pd.read_csv(csv_file)
word_char_df.head()

In [ ]:
# split chapter column into two columns to clear all numbers so it can readly be used as a join id for our SQl tables.
# copy file so it will not keep splitting and use copy...don't uncommen next two lines, if you have to, then watch 'chapter number' column as it will change.
# if column change, clear all output and run once, then comment the two code lines bellow...

## word_char_df['Chapter Number'], word_char_df['Chapter'] = word_char_df['Chapter'].str.split(' ', 1).str
## word_final_df = word_char_df.copy()
word_final_df.head()

In [ ]:
word_char = word_char_df.groupby(['Film']).nunique()
word_char.head()

In [305]:
json_file = 'data/LordOfTheRingsBook.json'
lord_books_df = pd.read_json(json_file)
lord_books_df

,BookName,ChapterName,ChapterData
0,{'Case': 'TheFellowshipOfTheRing'},A Long-expected Party,When Mr. Bilbo Baggins of Bag End announced th...
1,{'Case': 'TheFellowshipOfTheRing'},The Shadow of the Past,The talk did not die down in nine or even nine...
2,{'Case': 'TheFellowshipOfTheRing'},Three is Company,"'You ought to go quietly, and you ought to go ..."
3,{'Case': 'TheFellowshipOfTheRing'},A Short Cut to Mushrooms,In the morning Frodo woke refreshed. He was ly...
4,{'Case': 'TheFellowshipOfTheRing'},A Conspiracy Unmasked,"'Now we had better get home ourselves,' said M..."
...,...,...,...
57,{'Case': 'TheReturnOfTheKing'},The Steward and the King,Over the city of Gondor doubt and great dread ...
58,{'Case': 'TheReturnOfTheKing'},Many Partings,When the days of rejoicing were over at last t...
59,{'Case': 'TheReturnOfTheKing'},Homeward Bound,At last the hobbits had their faces turned tow...
60,{'Case': 'TheReturnOfTheKing'},The Scouring of the Shire,"It was after nightfall when, wet and tired, th..."
61,{'Case': 'TheReturnOfTheKing'},The Grey Havens,The clearing up certainly needed a lot of work...

In [306]:
# column 'BookName' was a dictionary with key and values. we only need the values.
# used fuction concat to split the dictionary and then renamed column and re-arrange all columns..

books_final_df = pd.concat([lord_books_df, lord_books_df['BookName'].apply(pd.Series)], axis = 1).drop('BookName', axis = 1)
books_final_df = df_final.rename(columns={"Case": "Book", "ChapterName": "Chapter", "ChapterData": "Chapter Data"})
books_final_df = books_final_df[["Book", "Chapter", "Chapter Data"]]
books_final_df.head()

,Book,Chapter,Chapter Data
0,TheFellowshipOfTheRing,A Long-expected Party,When Mr. Bilbo Baggins of Bag End announced th...
1,TheFellowshipOfTheRing,The Shadow of the Past,The talk did not die down in nine or even nine...
2,TheFellowshipOfTheRing,Three is Company,"'You ought to go quietly, and you ought to go ..."
3,TheFellowshipOfTheRing,A Short Cut to Mushrooms,In the morning Frodo woke refreshed. He was ly...
4,TheFellowshipOfTheRing,A Conspiracy Unmasked,"'Now we had better get home ourselves,' said M..."

In [308]:
# added space before capital letter in Book column. there was no space..

books_final_df['Book'] = books_final_df['Book'].str.replace( r"([A-Z])", r" \1").str.strip()
books_final_df.head()

,Book,Chapter,Chapter Data
0,The Fellowship Of The Ring,A Long-expected Party,When Mr. Bilbo Baggins of Bag End announced th...
1,The Fellowship Of The Ring,The Shadow of the Past,The talk did not die down in nine or even nine...
2,The Fellowship Of The Ring,Three is Company,"'You ought to go quietly, and you ought to go ..."
3,The Fellowship Of The Ring,A Short Cut to Mushrooms,In the morning Frodo woke refreshed. He was ly...
4,The Fellowship Of The Ring,A Conspiracy Unmasked,"'Now we had better get home ourselves,' said M..."

In [ ]:
books_final_df = books_final_df.groupby(['Book']).nunique()
books_final_df.head()

In [ ]:
engine = create_engine("postgresql://postgres:{password}@localhost:5432/EtlProject_db".format(password=password))
conn = engine.connect()

word_final_df.to_sql(name='word_char', con=engine, if_exists='append', index=False)
books_final_df.to_sql(name='books_final', con=engine, if_exists='append', index=False)